<li class="c" id="{_album_}">
	<img src="{_def-tmpl_}images/drag.png" class="dragger">
	<a href="{_album_}" class="float-left">
		<img src="{_thumb_}">
	</a>
	<textarea class="float-left">{_name_}</textarea><br>
	<input type="checkbox" {_public_} id="public_{_album_}" title="Kas album on avalikult päritav"/><label for="public_{_album_}"  title="Kas album on avalikult päritav">Avalik</label>
	<div class="float-right">
        <a href="#" class="delete float-right" title="Kustuta"></a>
        <span class="strong count float-right">{_pics_}</span>
    </div>
	<div class="clear"></div>
</li>