<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8">
	<title>{_content-header_}</title>
	<link type="text/css" rel="stylesheet" href="{_def-tmpl_}css/main.css">
	<script type="text/javascript" src="jscript/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="jscript/jquery-ui-1.8.15.custom.min.js"></script>
	<script type="text/javascript">
		var albums='{_def-albums_}';
	</script>
	<script type="text/javascript" src="jscript/{_user-login-js_}.js"></script>
</head>
<body>

	<!-- canvas -->
	<div id="canvas">
		
		<!-- header -->
		<div id="header">
			<div>
				<h3>Miuview API administreerimine</h3>
				Miuview API versioon 2015.01 {_logout_}
			</div>
		</div><!-- /header -->
		
		<!-- content -->
		<div id="content">
			{_content-body_}
		</div><!-- /content -->
		
		<!-- footer -->
		<div id="footer">
			
		</div><!-- /footer -->
		
	</div><!-- /canvas -->
	
</body>
</html>